*{ 

  padding: 0;
  
  margin: 0;
  
  
  }

body {
    margin: 20px;
    background: #d7e2e9; 
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    color: rgb(76, 182, 111);
    padding: 4px;
    background-color: whitesmoke;
    width:255px;
    display: flex;
    justify-content: center ;
    align-items: center ;
    text-align: center ;
    margin-left: auto;
    margin-right: auto;
  }
  
  .square {
    background: rgb(78, 195, 199);
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 24px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 94px;
    border-radius: 6px;
    cursor: pointer;
  }
  button.squarehighlight {
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 24px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 94px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    background: green;
  }
  
  .square:focus {
    outline: none;
  }


  h1 {

    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: cursive;
    font-weight: 200;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;  
    background: #040111;  
  
  }

  .center-grid {  

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  
  }


  h5 {

    color: white;
    font-size: 8px;
    bottom: 0;
    font-family: cursive;
    font-weight: 20;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    background: #040111;  
  
  }

  .highlight {

    padding: 10px;
    background: white; 

  }

